

.customSelect{
  position: relative;
  max-width: 200px;

  .customOverlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background: transparent;
  }

  .currentValue{
    position: relative;
    z-index: 100;
    padding: 6px 16px;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid #aaaaaa;
    background: #ffffff;

    &:after{
      content: '';
      position: absolute;
      right: 6px;
      top: 50%;
      transform: translate(0, -50%);
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 4px 0 4px;
      border-color: #007bff transparent transparent transparent;
      transition: .3s;
    }

    &.arrowRotate{
      &:after{
        transform: scaleY(-1) translate(0, 50%);
      }
    }

    &:hover{
      cursor: pointer;
    }
  }

  ul{
    position: absolute;
    top: 38px;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 1px solid #aaaaaa;
    border-radius: 4px;
    box-sizing: border-box;
    opacity: 1;
    transition: .3s;
    background: #ffffff;
    max-height: 300px;
    overflow-y: auto;

    li{
      list-style-type: none;
      padding: 6px 16px;
      box-sizing: border-box;
      transition: .3s;

      &:not(:last-child){
        border-bottom: 1px solid #aaaaaa;
      }

      &:hover{
        cursor: pointer;
        background: #c1c1c1;
      }

      &.defaultOption{
        pointer-events: none;
        color: rgba(0, 0, 0, 0.27);
      }
    }
  }
}

ul.hide{
  top: 30px;
  opacity: 0;
  pointer-events: none;

  li{
    padding: 2px 16px;
  }
}