select{
  margin-bottom: 16px;
}

.articlesContainer{
  display: flex;
  flex-wrap: wrap;
}

.article{
  width: #{calc(100% / 4 - 16px)};
  padding: 16px;
  margin: 0 6px 6px 6px;
  box-sizing: border-box;
  border: 1px solid #eeeeee;

  img{
    width: 100%;
  }
}


.customSelect{
  margin-bottom: 20px;
}

.acordeon{
  border: 1px solid #eeeeee;
  .ac-item{
    box-sizing: border-box;

    .ac-head{
      display: flex;
      align-items: center;
      padding: 6px 12px;
      border-bottom: 1px solid #eeeeee;

      .ac-controls{
        margin-left: auto;
        display: flex;

        button{
          padding: 0;
          margin-left: 5px;
          border: none;
          cursor: pointer;
          background: transparent;

          &:focus{
            outline: none;
          }
        }
      }

      .favourite{
        color: #ffe80e;
      }
    }

    .ac-body{
      overflow-y: auto;
      overflow-x: hidden;
      height: auto;
      max-height: 0;
      border-bottom: 1px solid #eeeeee;
      background: #ececec;
      transition: .3s;

      a{
        display: block;
      }

      > * {
        margin: 0 16px 16px 16px;

        &:first-child{
          margin-top: 16px;
        }
      }

      img{
        width: #{calc(100% - 32px)};
      }

      &.ac-open{
        max-height: 200px;
      }
    }
  }
}

.modalAddNote{
  position: absolute;
  z-index: 5000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 5px;
  border: 1px solid rgb(169, 169, 169);
  background: #ffffff;

  textarea{
    display: block;
    margin-bottom: 6px !important;
  }
}